
<div class="row red lighten-1">
  <div class="col-md-8 blue lighten-1">
    <h1 class="h1 blue lighten-2">Classes</h1>
    {{#each teacher}}
      <div>
        <h2>{{firstname}} {{lastname}}</h2>
        <ul>
          {{#each students}}
          <li>{{firstname}} {{lastname}}</li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>